@use "../base/variables" as *;
@use "../base/themes" as *;

.footer {
  width: 100%;
  border-top: 1px solid var(--line-color);
  padding-top: 1.7rem;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    padding-top: 1.375rem;
    margin-bottom: 7.5rem;
    max-width: 46.063rem;
  }
}

.source {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 1.2rem;
  }

  &__text {
    font-size: 0.875rem;
    color: $grey-hard;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &__link {
    font-size: 0.875rem;
    color: var(--text-color);
    display: flex;

    &:hover {
      cursor: url("../assets/images/Pointer\ Copy\ 13.png") 2 2, auto;
    }
  }

  &__icon {
    margin-left: 8px;
    align-self: center;
  }
}
