@font-face {
  font-family: "inter";
  src: url("../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "lora";
  src: url("../assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "lora-italic";
  src: url("../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "iconsolata";
  src: url("../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

$black-400: #050505;
$black-200: #2d2d2d;

$grey-light: #f4f4f4;
$dark-grey-light: #1f1f1f;

$grey-medium: #e9e9e9;
$dark-grey-medium: #3a3a3a;

$grey-hard: #757575;
$dark-grey-hard: #a445ed;

$width-mobile: 87.2%;
$width-tablet: 89.7%;
